* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}
*:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

:root {
  /* COLORS*/

  --primary-color: #e07fa4;
  --secondary-color: #ffb766;
  /* --tertiary-color: #68d388; */
  --primary-light-color: #c2edda;
  --secondary-light-color: #f0e4e9;
  --dark-color: black;
  --white-color: white;
}

body {
  font-family: "Cardo", serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

/* HEADER */
.header {
  color: var(--white-color);
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: color-change 10s ease infinite alternate both;
}

@keyframes color-change {
  0% {
    background-color: var(--primary-color);
  }

  100% {
    background-color: var(--secondary-color);
  }
}

.logo {
  border: 1px solid var(--white-color);
  width: 700px;
  height: 82px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgBox {
  height: 60px;
}

.logoImg {
  height: 60px;
}

.logoTitle {
  font-size: 55px;
  text-transform: uppercase;
}

/* SECTIONS */
.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100%;
}

/* Searcher */
.searcher {
  grid-column: span 4;
  background-color: var(--secondary-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.searchField {
  width: 500px;
  height: 30px;
  padding: 5px;
  padding-left: 10px;
  border: 0;
  margin-right: 10px;
}

.searchField:focus {
  outline: var(--primary-color) solid 1px;
}

.searchButton {
  width: 100px;
  height: 30px;
  background-color: var(--dark-color);
  color: white;
  border: 0;
  transition: background-color ease 0.5s;
}
.searchButton:hover {
  background-color: var(--primary-color);
}

/* Favorites section*/
.favorites {
  grid-column: span 1;
  background-color: #eaf7ef;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  min-height: 100vh;
}

.favoritesTitle {
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--dark-color);
}

.fa-heart {
  color: var(--secondary-color);
}

.resetButton {
  width: 250px;
  height: 30px;
  background-color: var(--dark-color);
  color: white;
  border: 0;
  margin-bottom: 40px;
  transition: background-color ease 0.5s;
}

.resetButton:hover {
  background-color: var(--secondary-color);
}

/* Results section*/
.results {
  grid-column: span 3;
  background-color: var(--white-color);
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  min-height: 100vh;
}
.resultsTitle {
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--dark-color);
}
.fa-search {
  color: var(--primary-light-color);
}
/* items <ul> */
.resultsList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

/* item class fav <li> */
.favorite {
  margin-bottom: 20px;
  width: 250px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.27);
  transition: transform ease 0.5s;
}
.favorite:hover {
  transform: scale(1.05);
}

/* items class def <li> */
.default {
  margin-bottom: 20px;
  width: 250px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: var(--primary-light-color);
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.27);
  transition: transform ease 0.5s;
}
.default:hover {
  transform: scale(1.05);
}

/* <div> */
.itemImg {
  height: 295px;
  width: 210px;
}
.itemImg img {
  width: 100%;
  height: auto;
}
/* <h3> */
.itemName {
}
/* <i> */
.heartItem {
  color: deeppink;
}

/* //favorite list elements */
.favoriteItem {
  margin-bottom: 20px;
  width: 250px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: var(--primary-light-color);
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.27);
}
.favItemImg {
}

.favItemName {
}

/* <i> */
.closeIcon {
  position: absolute;
  height: 20px;
  top: 1.3%;
  right: 1%;
  font-size: 20px;
}

.closeIcon:hover {
  animation: rotate-center 0.6s ease-in-out both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
